# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.
# Exemples de configuration
# DEV:


# PRODUCTION:
APP_ENV=production
APP_NAME=GetTruck
PORT=6500
API_URL=https://backend-gettruck.totonlionel.com

# Database
DATABASE_URL="postgresql://postgres:password@db:5432/truck_db"

# Security
JWT_SECRET="votre_secret_jwt_tres_securise"

# Email
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# Frontend
FRONTEND_URL=https://gettruck.totonlionel.com